<Section class="text-uppercase homeSection" >
    <div  class="d-flex justify-content-center align-items-center flex-column gap-4 ">
        <img src="./assets/images/avataaars.png" class="w-25" alt="">
        <h2>start Framework</h2>
        <div class="position-relative">
                <div class="i">
                  <i class="fa-solid fa-star mb-5  mb-5"></i>
                 </div>
              </div>
        <p class="text-capitalize">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</Section>